apiVersion: v1
kind: Secret
metadata:
  name: netdata-claiming
  namespace: default  # Change to your namespace
type: Opaque
stringData:
  claiming-token: "YOUR_CLAIMING_TOKEN_HERE"
  claiming-rooms: "YOUR_ROOM_ID_HERE"
