# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
*.tfplan
*.tfplan.*
backend.hcl

# Packer
packer_cache/
*.box

# Ansible
*.retry
.vault_pass

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# SSH keys
*.pem
*.key
id_rsa*

# Kubernetes secrets
**/secret.yaml
**/values.secret.yaml
**/sealed-secret.yaml